<h1>Lista dos posts:</h1>

{{#each posts}}

    <small>{{createdAt}}</small>
    <h2>{{titulo}}</h2>
    <p>{{conteudo}}</p>

    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <a href="/editar/{{id}}"><button>Editar</button></a>

    <hr>

{{/each}}